@import 'materialize-css/sass/components/color';
$primary-color: color("green", "darken-3") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("indigo", "base") !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;
// for the form placeholder text
$input-border-color: $primary-color !important;

$input-success-color: color("green", "base") !default;
$input-error-color: color("red", "base") !default;
$link-color: color("blue", "darken-3") !default;

$sidenav-font-color: $secondary-color !default;

$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $secondary-color !default;
$roboto-font-path: "./fonts/roboto/" !default;
@import 'materialize-css/sass/materialize.scss';

$background-color-dark: color("grey", "base");
$background-color-light: color("grey", "lighten-3");

@import './oauth-buttons.css';
@import './events.scss';
// General
body {
  background-color: $background-color-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-color-dark;
  font-weight: 500;
}

hr {
  border: 1px solid $primary-color-light;
}

nav {
  background-color: $background-color-light;
  ul {
    a {
      color: $primary-color;
      font-weight: 500;
    }
  }
}

.bold {
  font-weight: 400;
}

.extra-bold {
  font-weight: 500;
}

.social-media {
  display: inline-block;
  width: 36px;
  border-radius: 5px;
  margin: auto 8px;
}

// Navigation
#header {
  .brand-logo {
    color: $secondary-color-dark;
    line-height: normal;
    div {
      text-align: center;
      font-size: 1.5rem;
      margin-top: -5px;
    }
  }

  .nav-wrapper {
    a {
      @extend .valign-wrapper;
      @media #{$medium-and-up} {
        height: 64px;
      }
      height: 56px;
    }
    .material-icons.md-36 {
      font-size: 36px;
      color: $secondary-color-dark;
    }
  }
  .active-nav {
    background-color: $secondary-color-dark;
    color: $background-color-light;
    .material-icons.md-36 {
      color: $background-color-light;
    }
  }
}

// Footer
#footer.page-footer {
  color: darken($secondary-color, 10%);
  a:hover {
    h6 {
      color: darken($secondary-color, 10%);
    }
  }
  background-color: $background-color-dark;
  li,
  a {
    display: inline-block;
  }
  .social-media {
    margin: 8px;
  }
}
